<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net35" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net35" />
  <package id="NVelocity" version="1.1.1" targetFramework="net35" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net35" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net35" />
</packages>